body {
  position: relative;
  height: 100%;
}
.carousel-container{
  position: relative;
  height: 100%;
  width: 100%;
}
/*<!-- Carousel -->*/

.carousel-inner {
  height: fit-content;
}
/*<!-- Carousel Text -->*/
.carousel-caption{
  position:absolute;
  top:50%;
  left: 30%;

  transform: translate(-50%,-50%);
  z-index: 100;
  
}
.jumbotron{
	background:rgba(0,0,0,0.5);
	border-radius: 10px;

}





